- module: nginx
  # Access logs
  access:
    enabled: true
    var.paths:
      - /var/log/nginx/access.log*
    var.convert_timezone: true

  # Error logs
  error:
    enabled: true
    var.paths:
      - /var/log/nginx/error.log*
    var.convert_timezone: true
